body{
    margin: 0;
    height: 100vh;
    background-color: rgb(243, 176, 87);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1{
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
}

