body{
    margin: 0;
    background-color: rgb(216, 107, 12);
    height: 100vh;
}
.un{
    color: white;
    font-family: Showcard Gothic;
    margin-right: 1100px;
}
.us{
    height: 70px;
    width: 70px;
    margin-top: 40px;
    border-radius: 50px;
    border:4px solid white;
    transition: all 0.3s ease-in-out;
}
.us:hover{
    height: 75px;
    width: 75px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}